*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif; 
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body{
	background: #F5F0E6;
	color: #3B3B3B;
	font-weight: 400;
	max-width: 100%;
	overflow-x: hidden;
}

footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

footer .copyright {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap; 
}

a, button, span, p {
  color: inherit;     
  text-decoration: none; 
  -webkit-text-fill-color: inherit;
}

#header{
	width: 100%;
  background-color: #EADBC8;
  padding: 50px 15px 50px; 
  min-height: 100vh;       
  box-sizing: border-box;
}

.impression {
  background-color: #EADBC8; 
  width: 100%;
  margin: 0; 
}

.intro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
  gap: 30px;
}

.user-image img {
  max-width: 350px;
  border-radius: 20px;
  border-radius: 30px; 
  margin-top: 40%;
}

.header-text{
	flex: 1;
	margin-top: 20%;
	font-size: 26px;
	max-width: 800px;
}

.header-text h1{
	font-size: 32px;
	margin-top: 20px;
	line-height: 1.5;
}

.header-text h1 span{
	color:#87976B;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #EADBC8;
  z-index: 999;
}

.logo {
  width: 140px;;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: #3B3B3B;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after{
	content:'';
	width: 0;
	height: 3px;
	background: #87976B;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after{
	width: 100%;
}

p {
  line-height: 1.8; 
}

#jumpBtn {
  position: fixed;          
  bottom: 20px;            
  right: 20px;              
  width: 50px;
  height: 50px;
  border-radius: 50%;      
  border: 2px solid #87976B;
  background-color: #F5F0E6;
  color: #3B3B3B;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  transition: background 0.5s ease, opacity 0.6s ease;
  opacity: 0;  
  pointer-events: none;
  z-index: 999;
}

#jumpBtn.show {
  opacity: 1;
  pointer-events: auto;
}

#jumpBtn:hover {
  background-color: #87976B;
}

.img-popup {
  display: none;              
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Bild im Overlay */
.img-popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Cookie Banner */

#cookie-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 400px;
  background-color: #606E47;
  color: #fff;
  padding: 13px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.4;
  display: none;
  z-index: 1000;
}

#cookie-banner p {
  margin-bottom: 15px;
}

#cookie-banner button {
  background-color: #fff;
  color: #3B3B3B;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background 0.3s;
  margin-right: 15px;
}

#cookie-banner button:hover {
  background-color: #A3B18A;
}


/* Über mich */

#about{
	padding: 160px 20px 100px 20px;
	margin-top: -100px;
	color: #3B3B3B;
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}

.about-col-1{
	flex-basis: 35%;
}

.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}

.about-col-2{
	flex-basis: 60%;
}

.sub-titel{
	font-size: 50px;
	font-weight: 600;
	color: #3B3B3B;
}

.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}

.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after{
	content:'';
	width: 0;
	height: 3px;
	background: #87976B;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after{
	width: 50%;
}

.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
	line-height: 1.8;
	font-size: 16px;
}

.tab-contents ul.custom-list {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.tab-contents ul.custom-list li {
  position: relative;
  padding-left: 20px;  
  text-indent: 0;      
}

.tab-contents ul.custom-list li::before {
  content: "–";         
  position: absolute;
  left: 0;             
  color: #3B3B3B;          
}

.tab-contents ul li span{
	color: #87976B;
	font-size: 18px;
}

.tab-contents{
	display: none;
}

.tab-contents.active-tab{
	display: block;
}

/* Meine Leistungen */

#leistungen{
	padding: 100px 20px;
	margin-top: -100px;
}

.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 40px;
}

.services-list div{
	background: #EADBC8;
	padding: 40px;
	font-size: 16px;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.service-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
    border-radius: 10px;
}

.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a{
	text-decoration: none;
	color: #3B3B3B;
	font-weight: bold;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.services-list div:hover{
	background: #C6AC8F;
	transform: translateY(-10px);
}

/* Meine Arbeiten */

#arbeiten{
	padding: 140px 20px 100px 20px;
	margin-top: -100px;
	color: #3B3B3B;
}

.featured-works {
  margin: 50px 20px;
}

.work-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #A3B18A;
}

.work-item img {
  width: 350px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.work-content h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #3B3B3B;
}

.work-content {
  flex: 1;
}

.work-meta {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.work-meta .year {
  background: #606E47;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.work-meta .category {
  font-size: 14px;
  margin-bottom: 15px;
  color: #87976B;
}

.work-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}


#portfolio{
	padding: 100px 8px;
	margin-top: -100px;
}

.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 40px;
}

.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.work:hover img{
	transform: scale(1.05);
}

.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(255,255,255,0.8), #C6AC8F);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 16px;
	transition: height 0.5s;
}

.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
	line-height: 1.8;
	color: #606E47;
}


.work:hover .layer{
	height: 100%;
}

.btn{
	display: inline-block;
	width: fit-content;
	border: 2px solid #87976B;
	padding: 11px 25px;
	border-radius: 6px;
	text-decoration: none;
	color: #3B3B3B;
	box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	transition: background 0.5s ease;
}

.btn:hover{
	background: #87976B;
}

/* Kontakt */

#kontakt{
	padding: 100px 20px 50px 20px;
	margin-top: -100px;
}

.contact-left{
	flex-basis: 35%;
}

.contact-right{
	flex-basis: 60%;
}

.contact-right button{
	margin-bottom: 40px;
}

.contact-left p i{
	color: #87976B;
	margin-right: 15px;
	font-size: 20px;
}

.social-icons{
	margin-top: 30px;
	margin-bottom: 30px;
}

.social-icons a{
	text-decoration: none;
	font-size: 25px;
	margin-right: 10px;
	color: #87976B;
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a:hover{
	color: #C6AC8F;
	transform: translateY(-5px);
}

.btn.btn2{
	display: inline-block;
	
}

.contact-right form{
	width: 100%;
}

form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #EADBC8;
	padding: 15px;
	margin: 15px 0;
	color: #3B3B3B;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

#msg{
	color: #3B3B3B;
	margin-top: -40px;
	display: block;
}

.copyright{
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background:#EADBC8;
	margin-top: 20px;
	margin-bottom: 0;
}

/* Work */

#header-work{
	width: 100%;
	height: 20vh;
	background-size: cover;
	background-position: center;
	padding: 8px;
}

#work-1{
	padding: 20px 20px 0 20px;
}

.work-h2{
	font-size: 30px;
	font-weight: 600;
	color: #87976B;
}

.work-col-2 p{
	margin-bottom: 15px;
}

.downloads a{
	margin-right: 20px;
	margin-top: 20px;
}

.manuell,
.KI{
	margin: 40px 20px 0 20px;
}

.row-work{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}

.work-col-1{
	flex-basis: 42%;
	margin-bottom: 20px;
}

.work-col-1 img{
	width: 100%;
	border-radius: 15px;
}

.work-col-2{
	flex-basis: 54%;
}

.introduction{
	margin-top: 15px;
}

.references p{
	margin-top: 15px;
}

.references,
.discussion,
.conclusion{
	margin-top: 40px;
}

.discussion h4{
	margin-top: 20px;
}

.discussion p,
.conclusion p{
	margin-top: 20px;
}

.slider-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
  column-gap: 12px;                      
}

.slider {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slider-wrapper {
  display: flex;
  transition: transform 0.8s ease;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.prev,
.next {
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  color: #3B3B3B;
  transition: color 0.3s ease;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: #606E47; 
}

/* Datenschutz & Impressum */

.copyright{
	color: #3B3B3B;
}

.copyright a {
	text-decoration: underline;
}

.copyright a:hover {
  color: #606E47;
  text-decoration: none;
 }

.legal-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;;
  line-height: 1.6;
  color: #3B3B3B;
}

.legal-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.legal-container h2 {
  font-size: 1.5rem;
  margin: 25px 0 10px;
}

.legal-container h3 {
  font-size: 1.2rem;
  margin: 20px 0 8px;
}

.legal-container p {
  margin-bottom: 15px;
}

.legal-container ul {
  margin: 10px 0 20px 20px;
}

.legal-container a {
  color: #3B3B3B;
  text-decoration: underline;
}

.legal-container a:hover {
  color: #606E47;
  text-decoration: none;
}

/* Responsive */

nav .fa-solid{
	display: none;
}

@media only screen and (max-width: 600px) {

	.intro-content {
	flex-direction: column;
	}

	.user-image img {
	max-width: 200px;
	margin-top: 20px;
	}

  
}

@media only screen and (max-width: 900px){

	footer .copyright {
		flex-direction: column;
		gap: 0.8rem;
	}

	.user-image img {
		max-width: 250px;
	}

	.header-text{
		margin-top: 33%;
		font-size: 16px;
	}

	.header-text h1{
		font-size: 22px;
	}

	.break::before {
	  content: "\A";   
	  white-space: pre; 
	}

	nav .fa-solid{
		display: block;
		font-size: 30px;
		color: #606E47;
	}

	nav ul{
		background: #EADBC8;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}

	nav ul li{
		display: block;
		margin: 25px;
	}

	nav ul li a {
	  font-size: 16px;
	}

	nav ul .fa-solid{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.sub-titel{
		font-size: 30px;
	}

	.about-col-1, 
	.about-col-2,
	.work-col-1,
	.work-col-2{
		flex-basis: 100%;
	}

	.about-col-1,
	.work-col-1{
		margin-bottom: 30px;
	}

	.about-col-2{
		font-size: 14px;
	}

	h4{
		line-height: 1.8;
	}

	h3{
		line-height: 1.4;
	}

	.layer h3{
		font-size: 14px;
		margin-bottom: 10px;
	}

	#leistungen{
		padding: 100px 8px 50px 8px;
		
	}

	.services-list div h2{
		font-size: 25px;
	}

	.services-list div{
		font-size: 14px;
	}

	#arbeiten{
		padding: 100px 8px 50px 8px;
		
	}

	#arbeiten p {
		font-size: 14px;
	}

	#arbeiten h3{
		font-size: 18px;
		line-height: 1.8;
	}

	.work-item {
		flex-direction: column;   
		align-items: center;   
		padding-left: 8px;
		padding-right: 8px;
	}

	.work-item img{
		margin-right: 0px;
	}

	.work-content {
		text-align: left;         
		margin-top: 15px;        
	}

	.tab-contents ul li{
		font-size: 14px;
	}

	.manuell,
	.KI,
	.discussion{
	margin: 40px 0px 0 0px;
	}	

	.discussion{
		margin-top: 20px;
	}

	.KI p{
		margin-bottom: 40px;
	}

	#work-1 p{
		font-size: 15px;
	}

	.downloads a{
	margin: 15px auto;
}

	.tab-links{
		font-size: 16px;
		margin-right: 20px;
	}

	.contact-left, .contact-right{
		flex-basis: 100%;
	}

	form input, form textarea{
		font-size: 16px;
	}

	.copyright{
		font-size: 14px;
	}

	.btn.btn2{
		font-size: 14px;
	}

	.btn{
		font-size: 14px;
	}

}